<div class="gp-address">
  {{#if (eq site "gretz")}}
    <h5>Siège social Île-de-France</h5>
    <p>
      ZI Ampère<br>
      54 rue de Maison Rouge<br>
      77220 Gretz-Armainvilliers — France<br>
      Tél. +(33) 01 64 42 59 50<br>
      Fax. +(33) 01 64 25 45 90
    </p>
  {{/if}}
  {{#if (eq site "roquemaure")}}
    <h5>Agence Grand Sud</h5>
    <p>
      201 avenue du Général Leclerc<br>
      30150 Roquemaure — France<br>
      Tél. +(33) 04 66 82 67 51<br>
      Fax. +(33) 04 66 82 51 23
    </p>
  {{/if}}
  {{#if (eq site "grand-fougeray")}}
    <h5>Agence Grand Ouest</h5>
    <p>
      Parc d'activités de Grand Fougeray<br>
      Espace Nord — 12 avenue CAPE 137<br>
      35390 Grand-Fougeray — France<br>
      Tél. +(33) 02 99 08 47 70<br>
      Fax. +(33) 02 99 08 47 73
    </p>
  {{/if}}
  {{#if (eq site "brillon")}}
    <h5>Agence Nord</h5>
    <p>
      ZI Sars et Rosières<br>
      12 rue des Neuf Bonniers<br>
      59178 Brillon — France<br>
      Tél. +(33) 03 27 23 98 18<br>
      Fax. +(33) 03 27 23 98 19
    </p>
  {{/if}}
</div>