<div class="row">
  <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.1s">
    <div class="box-inset-2 bg-white block-hover">
      <h5>Communications</h5>
      <div class="line-inset-2">
        <p>
          The best communication worldwide.
        </p>
      </div>
      <div class="overlay box-icon">
        <span class="icon icon-xl icon-default material-design-mountains14"></span>
      </div>
    </div>
  </div>
  <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.2s">
    <div class="box-inset-2 bg-white block-hover">
      <h5>Our Objective</h5>
      <div class="line-inset-2">
        <p>
          We manage client portfolios and provide financial advice.
        </p>
      </div>
      <div class="overlay box-icon">
        <span class="icon icon-xl icon-default material-design-tick7"></span>
      </div>
    </div>
  </div>
  <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.3s">
    <div class="box-inset-2 bg-white block-hover">
      <h5>Premier Support</h5>
      <div class="line-inset-2">
        <p>
          Providing
          essential support service including 24/7
        </p>
      </div>
      <div class="overlay box-icon">
        <span class="icon icon-xl icon-default material-design-timelapse"></span>
      </div>
    </div>
  </div>
</div>