<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Groupe Poisson
      {{/if}}
    </title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Links -->
    <link rel="stylesheet" href="/css/owl-carousel.css"/>

    <!--JS-->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>

    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="/js/html5shiv.js"></script>
    <![endif]-->
    <script src='/js/device.min.js'></script>

    {{#> head-block}}
      {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}

    <link href="/css/overrides.css" rel="stylesheet">

  </head>
  <body class="groupepoisson">
    <div class="page">
    
      <header> 
        {{#> header-block}}
            {{!--
              The `includes/header` partial is the default content,
              but can be overridden.
            --}}
          {{!-- Header content goes here. --}}
          {{> includes/header menu=menu }}
        {{/header-block}}
      </header>

      <main>
        {{#> main-block}}
          {{!-- Main content goes here. --}}
        {{/main-block}}
      </main>

      <footer>
        {{#> footer-block}}
          {{!--
            The `includes/footer` partial is the default content,
            but can be overridden.
          --}}
          {{> includes/footer }}
        {{/footer-block}}
      </footer>

    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->         
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/tm-scripts.js"></script>    
  
    {{#> scripts-block}}
      {{!-- Custom scripts per page can be added. --}}
    {{/scripts-block}}

    <!-- </script> -->
  </body>
</html>