/**
* CARRES DE COULEURS
*/

// Fake backgrounds at section layer for desktop mode (contained)
.gp-cards{
  @include large{
    position: relative !important;
    &__background{
      display: block !important;
      position: absolute !important;
      top: 0 !important;
      bottom: 0 !important;
      @each $colorName, $color in $colors{
        &--#{$colorName}{
          background-color: $color !important;
        }
      }
      &--left{
        left: 0 !important;
        right: 50% !important;
      }
      &--right{
        left: 50% !important;
        right: 0 !important;
      }
    }
  }
}

.gp-card{
  @include large{
    height: 310px !important;
    overflow:hidden !important;
    &__inner{

      padding: 70px 0 70px 0 !important;
      // place modifiers
      &--left{
        padding-right: 40px !important;
      }
      &--right{
        padding-left: 40px !important;
      }
    }
  }
  // color mofifiers
  @each $colorName, $color in $colors{
    &--#{$colorName}{
      background-color: $color !important;
      $fontColor: map-get($fontColors, $colorName);
      color: $fontColor !important;
      *{
        color: $fontColor !important;
      }
    }
  }

  // link element

  &__title{
    text-align: left;
  }
  &__content{
    text-align: justify;
  }
  &__link{
    text-align: right;
  }
}