{{#> layouts/base menu="actualites" title="Groupe Poisson — Actualite"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="/toutes-nos-actualites.html">Actualités</a></li>
    <li><a href="#">#TITLE</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="actualite__title-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1 class="is-size-2">
                Nouveau chantier Axel Duval sur les pistes d'Orly
              </h1>
            </div>
          </div>
        </div>
    </section>

    <section class="actualite__article">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="actualites__article">
              <img src="http://lorempixel.com/300/200/technics" style="float:right">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <img src="http://lorempixel.com/400/280/cats" style="float:left">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>               
          </div>
        </div>
      </div>
    </section>

  {{/inline}}

{{/layouts/base}}