{{#> layouts/base menu="" title="Groupe Poisson — Espace Presse"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="/">Accueil</a></li>
    <li><a href="#">Espace Presse</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="espace-presse__title-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                ESPACE PRESSE
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              Cupidatat reprehenderit aute duis aliqua amet cupidatat laboris ea dolore labore ad.
              Ut id nulla amet proident eu fugiat consectetur. Irure consequat pariatur est commodo
              officia ullamco voluptate cupidatat. Sit sit nulla incididunt eiusmod in irure eiusmod aute.
            </div>
          </div>
        </div>
    </section>

    <section class="espace-presse__contact-section">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center">
            Cupidatat reprehenderit aute duis aliqua amet cupidatat laboris ea dolore labore ad.
            Ut id nulla amet proident eu fugiat consectetur. Irure consequat pariatur est commodo
            officia ullamco voluptate cupidatat. Sit sit nulla incididunt eiusmod in irure eiusmod aute.
          </div>
        </div>
      </div>
    </section>

    <section class="espace-presse__files-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                Dossiers et Communiqués de Presse
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              Cupidatat reprehenderit aute duis aliqua amet cupidatat laboris ea dolore labore ad.
              Ut id nulla amet proident eu fugiat consectetur. Irure consequat pariatur est commodo
              officia ullamco voluptate cupidatat. Sit sit nulla incididunt eiusmod in irure eiusmod aute.
            </div>
          </div>
        </div>
    </section>

    <section class="espace-presse__flyers-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                Plaquettes
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              Cupidatat reprehenderit aute duis aliqua amet cupidatat laboris ea dolore labore ad.
              Ut id nulla amet proident eu fugiat consectetur. Irure consequat pariatur est commodo
              officia ullamco voluptate cupidatat. Sit sit nulla incididunt eiusmod in irure eiusmod aute.
            </div>
          </div>
        </div>
    </section>

  {{/inline}}

{{/layouts/base}}