{{!-- pages/index.hbs --}}

{{#> layouts/base menu="index" title="Groupe Poisson" no-breadcrumb=true}}

  {{#*inline "main-block"}}
    <section class="parallax well-1" data-url="images/parallax01.jpg" data-mobile="true" data-speed="0.7">
        <div class="container text-center wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1>
                Réunir des hommes, compétences, outils, dans le respect de leur environnement
              </h1>
              <span class="hr-lg"></span>
              <h5 class="big">
                Lorem ipsum sit amet etc.
              </h5>
            </div>
          </div>
        </div>
      </section>
      <!-- END Parallax -->

      <!-- Section -->
      <section class="gp-cards">
        <div class="gp-cards__background gp-cards__background--left gp-cards__background--blue"></div>
        <div class="gp-cards__background gp-cards__background--right gp-cards__background--white"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 wow fadeInLeft gp-card gp-card--blue">
              <div class="gp-card__inner gp-card__inner--left">
                <h2 class="gp-card__title">Qui sommes nous&nbsp;?</h2>
                <p class="gp-card__content">
                  We are the unique set-up, that is ready to challenge and knock out such a global problem as unemployment. Our company gladly helps those, who are ready to learn, to develop and to gain new experience.
                </p>
                <div class="gp-card__link">
                  <a href="#" class="link">Voir plus</a>
                </div>
              </div>
            </div>
            <div class="offset-none col-lg-6 gp-card gp-card--white">
              <div class="gp-card__inner gp-card__inner--right">
                {{> components/poles-block}}
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END Section -->


      <section class="gp-cards">
        <div class="gp-cards__background gp-cards__background--left gp-cards__background--gray"></div>
        <div class="gp-cards__background gp-cards__background--right gp-cards__background--green"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 wow fadeInLeft gp-card gp-card--gray">
              <div class="gp-card__inner gp-card__inner--left">
                <h2 class="gp-card__title">Dernières actualités</h2>
                <p class="gp-card__content">
                  We are the unique set-up, that is ready to challenge and knock out such a global problem as unemployment. Our company gladly helps those, who are ready to learn, to develop and to gain new experience.
                </p>
                <div class="gp-card__link">
                  <a href="#" class="link">Voir plus</a>
                </div>
              </div>
            </div>
          
            <div class="col-lg-6 wow fadeInRight gp-card gp-card--green">
              <div class="gp-card__inner gp-card__inner--right">
                <h2 class="gp-card__title">A la Une</h2>
                <p class="gp-card__content">
                  We are the unique set-up, that is ready to challenge and knock out such a global problem as unemployment. Our company gladly helps those, who are ready to learn, to develop and to gain new experience.
                </p>
                <div class="gp-card__link">
                  <a href="#" class="link">Voir plus</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      {{> components/map}}
  {{/inline}}

{{/layouts/base}}
