{{!-- pages/page-one.hbs --}}

{{#> layouts/base menu="le-groupe" title="Groupe Poisson - Le Groupe" }}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Le Groupe</a></li>
  {{/inline}}

  {{#*inline "main-block"}}

    <section class="parallax well-1" data-url="images/parallax01.jpg" data-mobile="true" data-speed="0.7">
    </section>
    
    <section id="qui-sommes-nous" class="well-2 le-groupe__qui-sommes-nous">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>
              Le Groupe Poisson
            </h1>
            
            <h5 class="big">
              Réunir des Hommes, des compétences et des outils dans le respect de leur environnement
            </h5>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </section>

      
    <section id="nos-poles" class="gp-cards">
      <div class="gp-cards__background gp-cards__background--left gp-cards__background--blue"></div>
      <div class="gp-cards__background gp-cards__background--right gp-cards__background--white"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 wow fadeInLeft gp-card gp-card--blue">
            <div class="">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/WGrX_Hzt_8I" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="offset-none col-lg-6 gp-card gp-card--white">
            <div class="gp-card__inner gp-card__inner--right">
              {{> components/poles-block}}
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="historique" class="well-2 le-groupe__historique">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>
              Historique
            </h1>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </section>


    <section id="infographie" class="well-2 le-groupe__infographie">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>
              Infographie
            </h1>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </section>


    <section id="implantations" class="well-2 le-groupe__implantations">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>
              Implantations
            </h1>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </section>


    <section class="well-2 le-groupe__contact">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>
              Contact
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-left">
            {{>components/address site="gretz"}}
          </div>
          <div class="col-md-4 text-right">
            {{>components/address site="brillon"}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-left">
            {{>components/address site="roquemaure"}}
          </div>
          <div class="col-md-4 text-right">
            {{>components/address site="grand-fougeray"}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <a class="gp-button gp-button--white gp-button--blue-border">Contacter le Groupe Poisson</a>
          </div>
        </div>
      </div>
    </section>


    <section class="le-groupe__on-en-parle">
      <div class="container">
        <div class="row">
          <div class="col-md-7 wow fadeIn le-groupe__on-en-parle-text-block">
            <h2>On en parle</h2>
            <h5>Lorem ipsum dolor</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="text-right">
              <a href="/on-en-parle.html">Lire la suite</a>
            </div>
          </div>
          <div class="col-md-5 offset-none wow fadeIn le-groupe__on-en-parle-image-block" data-wow-delay="0.5s">
            <img class="le-groupe__on-en-parle-image" src="https://unsplash.it/350/200/">
            <div class="le-groupe__on-en-parle-button-wrapper">
              <a class="gp-button gp-button--gray gp-button--blue-border">Télécharger la plaquette</a>
            </div>
          </div>
        </div>

      </div>
    </section>


      
  {{/inline}}
{{/layouts/base}}