{{#> layouts/base menu="nos-metiers" title="Page One" }}

  {{#*inline "main-block"}}
    <section class="parallax well-1" data-url="images/parallax01.jpg" data-mobile="true" data-speed="0.7">
        <div class="container text-center wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1>
                LOCATION
              </h1>
              <span class="hr-lg"></span>
              <h5 class="big">
                Learn the skills you'll need to promote and run a successful
                <br/>
                business.
              </h5>
              <a href="#" class="btn btn-primary">read more</a>
            </div>
          </div>
        </div>
      </section>
      <!-- END Parallax -->

      
  {{/inline}}

{{/layouts/base}}