{{#> layouts/base menu="recrutement" title="Groupe Poisson — Offre d'emploi"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="/recrutement.html">Recrutement</a></li>
    <li><a href="/offres-emploi.html">Nos offres d'emploi</a></li>
    <li><a href="#">#TITLE</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="offre-emploi__title-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                Technicien de maintenance polyvalent (H/F) en CDI
              </h1>
            </div>
          </div>
        </div>
    </section>

    <section class="offre-emploi__content-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <p>
                Le Groupe Poisson, société spécialisée dans la location d'engins de TP, recherche....<br>
                <br>
                <bTechnicien de maintenance polyvalent (H/F) en CDI></b><br>
                votre mission sera...<br>
                <b>Profil recherché</b><br>
                ...<br>
              </p>
            </div>
          </div>
        </div>
    </section>

    <section class="offre-emploi__form-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                Postuler
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              Cupidatat reprehenderit aute duis aliqua amet cupidatat laboris ea dolore labore ad.
              Ut id nulla amet proident eu fugiat consectetur. Irure consequat pariatur est commodo
              officia ullamco voluptate cupidatat. Sit sit nulla incididunt eiusmod in irure eiusmod aute.
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              { {APPLICATION_FORM} }
            </div>
          </div>
        </div>
    </section>

  {{/inline}}

{{/layouts/base}}