{{#> layouts/base menu="recrutement" title="Groupe Poisson — Nos offres d'emploi"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="/recrutement.html">Recrutement</a></li>
    <li><a href="#">Nos offres d'emploi</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="offres-emploi__title-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                Nos offres d'emploi
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              Cupidatat reprehenderit aute duis aliqua amet cupidatat laboris ea dolore labore ad.
              Ut id nulla amet proident eu fugiat consectetur. Irure consequat pariatur est commodo
              officia ullamco voluptate cupidatat. Sit sit nulla incididunt eiusmod in irure eiusmod aute.
            </div>
          </div>
        </div>
    </section>

    <section class="offres-emploi__offres">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 offers-list">
              <div class="offers-list__offer">

                <div class="offers-list__entity">
                  <img src="/assets/logos/maintenance_service.jpg">
                </div>  

                <div class="offers-list__content">
                  <div class="offers-list__label">TECHNICIEN DE MAINTENANCE POLYVALENT (H/F)</div>
                  <div class="offers-list__details">
                    Lieu&nbsp;:&nbsp;Gretz-Armainvilliers,
                    Contrat&nbsp;:&nbsp;CDI
                  </div>
                </div>

                <div class="offers-list__link">
                  <a href="/offre-emploi.html" class="gp-button gp-button--gray gp-button--small">Accéder à l'offre</a>
                </div>

              </div>
              
              <div class="offers-list__offer">

                <div class="offers-list__entity">
                  <img src="/assets/logos/terre_net.jpg">
                </div>  

                <div class="offers-list__content">
                  <div class="offers-list__label">TECHNICIEN DE MAINTENANCE POLYVALENT (H/F)</div>
                  <div class="offers-list__details">
                    Lieu&nbsp;:&nbsp;Gretz-Armainvilliers,
                    Contrat&nbsp;:&nbsp;CDI
                  </div>
                </div>

                <div class="offers-list__link">
                  <a href="" class="gp-button gp-button--gray gp-button--small">Accéder à l'offre</a>
                </div>

              </div>

              
              <div class="offers-list__offer">

                <div class="offers-list__entity">
                  <img src="/assets/logos/sndm.jpg">
                </div>  

                <div class="offers-list__content">
                  <div class="offers-list__label">TECHNICIEN DE MAINTENANCE POLYVALENT (H/F)</div>
                  <div class="offers-list__details">
                    Lieu&nbsp;:&nbsp;Gretz-Armainvilliers,
                    Contrat&nbsp;:&nbsp;CDI
                  </div>
                </div>

                <div class="offers-list__link">
                  <a href="" class="gp-button gp-button--gray gp-button--small">Accéder à l'offre</a>
                </div>

              </div>

            </div>
          </div>
        </div>
    </section>

    <section class="offres-emploi__form-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                Candidature spontanée
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              Cupidatat reprehenderit aute duis aliqua amet cupidatat laboris ea dolore labore ad.
              Ut id nulla amet proident eu fugiat consectetur. Irure consequat pariatur est commodo
              officia ullamco voluptate cupidatat. Sit sit nulla incididunt eiusmod in irure eiusmod aute.
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              { {APPLICATION_FORM} }
            </div>
          </div>
        </div>
    </section>

  {{/inline}}

{{/layouts/base}}