{{#> layouts/base menu="recrutement" title="Groupe Poisson — Rejoignez-nous !"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Recrutement</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="recrutement__nav">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                Rejoignez-nous&nbsp;!
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-1 recrutement__nav-text text-center">
              <p>
                Cupidatat reprehenderit aute duis aliqua amet cupidatat laboris ea dolore labore ad. Ut id nulla amet proident eu fugiat consectetur. Irure consequat pariatur est commodo officia ullamco voluptate cupidatat. Sit sit nulla incididunt eiusmod in irure eiusmod aute.
              </p>
            </div>
            <div class="col-md-4 recrutement__nav-buttons">
              <a href="" class="gp-button gp-button--gray">Consulter nos offres</a>
              <a href="" class="gp-button gp-button--gray">Candidature spontanée</a>
            </div>
          </div>
        </div>
    </section>

    <section class="recrutement__bullets">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                Les Hommes font la force des machines
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-left">
              <span>
                Le groupe Poisson recrute des hommes et des femmes
              </span>
              <span>
                Nous recherchons davantage des personalités que des diplômes
              </span>
              <span>
                Aliquip nostrud incididunt qui incididunt veniam incididunt enim anim minim.
              </span>
            </div>
          </div>
        </div>
    </section>

    <section class="parallax well-1" data-url="images/parallax01.jpg" data-mobile="true" data-speed="0.7">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
          </div>
        </div>
      </div>
    </section>
  
    <section class="recrutement__white-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                Nos métiers
              </h1>
              <p>
                Consectetur culpa in veniam tempor. Sunt elit qui commodo labore nostrud culpa Lorem qui amet officia consectetur pariatur enim do. Ea elit reprehenderit ut esse eiusmod eiusmod eiusmod elit est consectetur ipsum consequat.
              </p>
            </div>
          </div>
        </div>
    </section>
  
    <section class="recrutement__green-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                Notre engagement
              </h1>
              <p>
                Sit elit eu velit nostrud consequat nostrud mollit. Velit ullamco ullamco in laboris excepteur excepteur nostrud id adipisicing commodo veniam proident qui esse. Elit officia et aute ea aliqua nostrud.
              </p>
            </div>
          </div>
        </div>
    </section>
  
    <section class="recrutement__white-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                Notre priorité
              </h1>
              <p>
                Ex sit ut et incididunt ad irure magna minim anim veniam aute veniam. Est commodo tempor id enim ut qui exercitation esse ad dolor duis voluptate aute ipsum. Consectetur anim consequat tempor minim anim aliqua ut ut laboris et occaecat esse cillum. Irure nulla adipisicing deserunt sunt excepteur dolor consequat ex fugiat voluptate officia. Minim nostrud aliqua sint ea aliqua ipsum enim eu voluptate.
              </p>
            </div>
          </div>
        </div>
    </section>

      


    {{> components/map}}
  {{/inline}}

{{/layouts/base}}