{{#> layouts/base menu="actualites" title="Groupe Poisson — Offre d'emploi"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Actualités</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="actualites__title-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                Nos actualités
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              Cupidatat reprehenderit aute duis aliqua amet cupidatat laboris ea dolore labore ad.
              Ut id nulla amet proident eu fugiat consectetur. Irure consequat pariatur est commodo
              officia ullamco voluptate cupidatat. Sit sit nulla incididunt eiusmod in irure eiusmod aute.
            </div>
          </div>
        </div>
    </section>

    <section class="actualites__articles">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 actualites-list">
              <div class="actualites-list__offer">

                <div class="actualites-list__entity">
                  <img src="/assets/logos/maintenance_service.jpg">
                </div>  

                <div class="actualites-list__content">
                  <div class="actualites-list__label">TECHNICIEN DE MAINTENANCE POLYVALENT (H/F)</div>
                  <div class="actualites-list__details">
                    Lieu&nbsp;:&nbsp;Gretz-Armainvilliers,
                    Contrat&nbsp;:&nbsp;CDI
                  </div>
                </div>

                <div class="actualites-list__link">
                  <a href="" class="gp-button gp-button--gray gp-button--small">Accéder à l'offre</a>
                </div>

              </div>
              
              <div class="actualites-list__offer">

                <div class="actualites-list__entity">
                  <img src="/assets/logos/terre_net.jpg">
                </div>  

                <div class="actualites-list__content">
                  <div class="actualites-list__label">TECHNICIEN DE MAINTENANCE POLYVALENT (H/F)</div>
                  <div class="actualites-list__details">
                    Lieu&nbsp;:&nbsp;Gretz-Armainvilliers,
                    Contrat&nbsp;:&nbsp;CDI
                  </div>
                </div>

                <div class="actualites-list__link">
                  <a href="" class="gp-button gp-button--gray gp-button--small">Accéder à l'offre</a>
                </div>

              </div>

              
              <div class="actualites-list__offer">

                <div class="actualites-list__entity">
                  <img src="/assets/logos/sndm.jpg">
                </div>  

                <div class="actualites-list__content">
                  <div class="actualites-list__label">TECHNICIEN DE MAINTENANCE POLYVALENT (H/F)</div>
                  <div class="actualites-list__details">
                    Lieu&nbsp;:&nbsp;Gretz-Armainvilliers,
                    Contrat&nbsp;:&nbsp;CDI
                  </div>
                </div>

                <div class="actualites-list__link">
                  <a href="" class="gp-button gp-button--gray gp-button--small">Accéder à l'offre</a>
                </div>

              </div>

            </div>
          </div>
        </div>
    </section>

  {{/inline}}

{{/layouts/base}}