{{!-- pages/page-one.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Groupe Poisson - Pôle Travaux" }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="#">Pôle Travaux</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="parallax well-1" data-url="images/parallax01.jpg" data-mobile="true" data-speed="0.7">
    </section>
    
    <section class="well-2 pole__title-section pole__title-section--travaux">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>
              <img src="/assets/pictos_poles/travaux.png"> Travaux
            </h1>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </section>

      
    <section class="pole__video-section pole__video-section--travaux">
      <div class="container">
        <div class="row">
          <div class="col-12 wow fadeInLeft">
            <div class="text-center pole__video-wrapper">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/WGrX_Hzt_8I" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

      
    <section class="well-2 pole__subsidiaries-section pole__subsidiaries-section--travaux">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2>Les sociétés du pôle travaux</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img src="/assets/logos/axel_duval.jpg">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a class="gp-button gp-button--gray" href="">Découvrir Axel Duval</a>
          </div>
          <div class="col-md-4">
            <img src="/assets/logos/axel_sud.jpg">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a class="gp-button gp-button--gray" href="">Découvrir Axel Sud</a>
          </div>
          <div class="col-md-4">
            <img src="/assets/logos/select_civil.jpg">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a class="gp-button gp-button--gray" href="">Découvrir Select Civil</a>
          </div>
        </div>
      </div>
    </section>


      
  {{/inline}}
{{/layouts/base}}