$small-width: 768px;
$medium-width: 992px;
$large-width: 1200px;

@mixin mobile {
  @media (max-width: #{$small-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}