<section class="footer__main-links">      
  <div class="container"> 

    <p class="center">
      <a href="/on-en-parle.html">On en parle</a>
      <a href="/espace-presse.html">Espace Presse</a>
      <a href="/nous-contacter.html">Contact</a>
      <a href="/rejoignez-nous.html">Nous rejoindre</a>
      <a href="/toutes-nos-actualites.html">Toutes nos actualités</a>
    </p>
  </div>
</section>
<section class="footer__secondary-links">
  <div class="container"> 
    <p class="center">

      <a href="/mentions-legales.html">Mentions Légales</a>
      |
      <a href="/plan-du-site.html">Plan du site</a>
    </p>
  </div> 
</section> 