<section>      
  <div class="container"> 

    <p class="rights">
      Peace (c) <span id="copyright-year"></span> |
      <a href="index-5.html">Privacy Policy</a>
      More <a rel="nofollow" href="http://www.templatemonster.com/category/business-web-templates/" target="_blank">Business Website Templates at TemplateMonster.com</a>
    </p>          
  </div> 
</section> 